.container{
	width: 50%;
	margin: 0 auto;
	padding: 20px 50px;
	background-color: white;
}
.even{
	margin-top: 20px;
}
.middle{
	
	text-align: center;
	
}
h1{
	text-align: center;
	color: #191973;
}
input{
	margin:0 10px;
}
body{
	background-color: lightgray;
}